<template>
   <div class="container text-center pt-5">
      <h1>{{title}} </h1>
      <hr>
      <app-counter></app-counter>
      <app-second-counter></app-second-counter>
      <hr>
      <app-actions></app-actions>
   </div>
</template>


<script>
import Counter from './Counter';
import Actions from './Actions';
import SecondCounter from './SecondCounter';

export default {
   components: {
      appCounter: Counter,
      appActions: Actions,
      appSecondCounter:SecondCounter
   },
   computed: {
      title() {
         return this.$store.getters.title
      }
   },
}

</script>


<style>
.form-control.is-invalid {
   border-color: #dc3545;
}
.invalid-feedback {
   display: none;
   width: 100%;
   margin-top: 0.25rem;
   color: #dc3545;
}
.form-control.is-invalid ~ .invalid-feedback {
   display: block;
}
body {
   padding: 30px;
   font-size: 16px;
   font-family: Consolas, Helvetica, sans-serif;
   background-color: #f7f7f7;
}
body > div {
   padding-top: 50px;
}
.navbar {
   padding: 0;
}

.navbar-nav {
   display: flex;
   flex-direction: row;
   padding: 15px 0;
   margin-bottom: 30px;
   border-bottom: 1px solid #ddd;
}
.navbar-nav > li {
   margin-right: 30px;
   font-size: 1.1em;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
textarea {
   height: 50px;
   width: 100%;
   margin: 5px 0 20px;
   font-size: 20px;
   padding: 13px 30px;
   display: block;
   outline-color: transparent;
   letter-spacing: 0.02em;
}
textarea {
   width: 400px;
   height: 200px;
}
h2 {
   color: #41b883;
   font-size: 3em;
   margin-bottom: 1em;
}
hr {
   display: block;
   margin-bottom: 4em;
   margin-top: 4em;
}
p {
   white-space: pre;
}

button,
select {
   display: inline-block;
   padding: 10px 40px !important;
   font-size: 18px !important;
   font-family: sans-serif;
   text-shadow: 0 0;
   text-shadow: 0 0;
   margin-right: 20px;
   margin-top: 15px;
   min-width: 154px;
   border-radius: 5px;
   border: none;
   /* background: #35495e; */
   letter-spacing: 0.05em;
   color: #fff;
   cursor: pointer;
   outline-color: transparent;
   transition: 0.3s;
}
button:hover {
   opacity: 0.9;
}
.car {
   border: 1px solid #41b883;
   padding: 30px;
}
</style>
