<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>VUE lessons</title>
   <style>
      body {
         padding: 30px;
         font-size: 16px;
         font-family: Consolas, Helvetica, sans-serif;
         background-color: #ddd;
      }
      [type=text] {
         height: 50px;
         width: 300px;
         margin: 20px 0;
         font-size: 20px;
         padding: 3px 30px;
         display: block;
         outline-color: transparent;
      }
      h2 {
         color: #41b883;
         font-size: 3em;
         margin-bottom: 1em;
      }
      hr {
         display: block;
         margin-bottom: 4em;
         margin-top: 4em;
      }
      button {
         display: inline-block;
         padding: 12px 40px;
         font-size: 20px;
         font-family: inherit;
         text-shadow: 0 0;
         margin-right: 30px;
         border-radius: 5px;
         border: none;
         background: #35495e;
         letter-spacing: .05em;
         color: #fff;
         cursor: pointer;
         outline-color: transparent;
         box-shadow: inset 0 1px 2px rgba(250, 250, 250, .1);
         transition: .2s;
      }
      button:hover {
         box-shadow: inset 0 4px 9px 5px rgba(63, 63, 63, .15);
      }
      .circle {
         margin: 40px;
         width: 100px;
         height: 100px;
         border-radius: 50%;
         border: 1px solid #000;
      }
      template {
         display: block;
      }
   </style>
</head>

<body>
   <div id="app">
      <!-- <input type="text" @input="inputValue = $event.target.value" :value="inputValue"> -->
      <!-- покороче ▼ -->
      <!-- <input type="text" v-model.lazy="inputValue"> -->
      <!-- <h1>If statement: {{isOk ? 'yes' : 'no!'}}</h1> -->
      <!-- <a :href="url">{{url}} </a> -->
      <!-- <h2>Счётчик = {{counter}} </h2> -->
      <!-- <button @click="riseCounter(5,'изменено на 5',$event)">Увеличть на 5</button> -->
      <!-- <button @click="riseCounter(10,'изменено на 10',$event)">Увеличть на 10</button> -->
      <!-- <div class="circle" :class="[color, {'red':isActive}]"></div> -->
      <!-- <div class="circle" :style="[circleClasses, {'width':height + 'px'}]"></div>-->
      <!-- <input type="text" v-model="type"> -->
      <!-- <h1 v-show="isVisible">I am visible!</h1> -->


      <my-counter v-for="c in 2"></my-counter>



   </div> <!-- /#app -->

   <hr>

   <div id="app2">
      <my-counter></my-counter>
   </div>


   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
   <script>

      var component = {
         template: `
            <div style="border: 1px solid darkcyan; padding: 20px; margin-bottom:30px">
               <h2 ref="heading">{{counter}}</h2>
               <button @click="add">Add to counter</button>
            </div>
         `,
         data: function(){
            return {
               counter: 0
            }
         },
         methods: {
            add: function(){
               this.counter++
            }
         }
      }

      new Vue({
         el: '#app',
         components: {
            myCounter: component
         }
      });

      new Vue({
         el: '#app2',
         components: {
            myCounter: component
         }
      });
   </script>
</body>
</html>